.ppc-slider {
  max-width: 300px;
}

@media (min-width: 425px) {
  .ppc-slider {
    max-width: 400px;
  }
}

@media (min-width: 1024px) {
  .ppc-slider {
    max-width: 500px;
  }
}

@media (min-width: 1440px) {
  .ppc-slider {
    max-width: 700px;
  }
}
