.background-image {
  position: relative;
  display: inherit;
  margin: 0 auto;
}

.background-image-container {
  visibility: hidden;
  display: none;
}

.content {
  position: relative;
}

.inner {
  position: relative;
}

.testimonials-container {
  height: 500px;
}

@media (min-width: 375px) {
  .testimonials-container {
    height: 450px;
  }
}

@media (min-width: 768px) {
  .testimonials-container {
    height: 300px;
  }
}

@media (min-width: 1024px) {
  .background-image-container {
    visibility: inherit;
    display: inherit;
  }

  .content {
    position: absolute;
    left: 0;
    right: 0;
    top: 130px;
  }

  .testimonials-container {
    height: 600px;
  }
}

@media (min-width: 1180px) {
  .testimonials-container {
    height: 650px;
  }
}
