.archive-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 30px;
}

@media (min-width:425px) {
  .archive-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width:768px) {
  .archive-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}