@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"), url(/fonts/roboto/roboto.ttf) format("ttf");
}

h1,
h2,
h3 {
  font-weight: 400;
}

h1.slate,
h2.slate {
  color: var(--dark-slate);
}

p,
ul {
  font-size: 18px;
}

span.sub-headline {
  font-size: 30px;
  color: var(--dark-slate);
  line-height: 1.7;
}

::placeholder {
  color: var(--slate);
}

@media (min-width: 768px) {
  .hero-subheader {
    font-size: 20px;
    color: #fff;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 40px;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 48px;
  }

  .hero-subheader {
    font-size: 28px;
  }

  .sub-headline {
    font-size: 30px;
    color: var(--dark-slate);
    line-height: 1.7;
  }

  .sub-intro-details {
    max-width: 512px;
    margin: 0 auto;
    color: var(--slate);
    font-weight: 500;
    line-height: 1.4;
    margin-top: 30px;
  }
}
