:root {
  --orange: #ff6633;
  --orange-soft: rgba(255, 102, 51, 0.1);
  --red: #e62e7b;
  --red-soft: rgba(230, 46, 123, 0.1);
  --dark-red: #E91313;
  --dark-red-soft: rgba(233, 19, 19, 0.1);
  --blue: #3361ff;
  --blue-soft: rgba(51, 97, 255, 0.1);
  --green: #29cc39;
  --green-soft: rgba(41, 204, 57, 0.1);
  --purple: #7b29cc;
  --purple-soft: rgba(123, 41, 204, 0.1);
  --teal: #21DA9C;
  --teal-soft: rgba(33, 218, 156, 0.1);
  --turq: #29c6cc;
  --turq-soft: rgba(41, 198, 204, 0.1);
  --slate: #7D8FB3;
  --dark-slate: #4D5E80;
  --transition: 300ms;
  --width: 1440px;
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}
