.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form {
  padding: 0;
}

.contact-form input,
.contact-form textarea {
  padding: 15px 20px;
  border: 1px solid var(--slate);
  border-radius: 5px;
  font-weight: 800;
  font-size: 14px;
  color: var(--slate);
  font-family: "Roboto", sans-serif;
}

@media (min-width: 425px) {
  .contact-form {
    padding: 15px 20px;
  }
}